<!DOCTYPE html>
<html xmlns:th="http://wwww.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link href="resources/nav.css" rel="stylesheet">
<link href="resources/task-board.css" rel="stylesheet">
<link href="resources/modal.css" rel="stylesheet">
<script src="https://unpkg.com/muuri@0.8.0/dist/muuri.min.js"></script>
<script src="https://unpkg.com/web-animations-js@2.3.2/web-animations.min.js"></script>
<script src="https://unpkg.com/muuri@0.8.0/dist/muuri.min.js"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<title>TaskSpace.com</title>
</head>
<body>
	<div class="topnav">
		<a class= "header">TaskSpace</a>
		<div class="topnav-right">
  		<a class="navBtn" href="/">Home</a>
  		<a class="navBtn" href="/projects">Projects</a>
  		</div>
  	</div>
	<br>
<div class="content-area">
	<p id="project-id" th:text="${projectId}" hidden=true></p>
	<section class="task-board">
	<div class="board muuri">
  		<div class="board-column todo muuri-item muuri-item-shown">
  			<div class="board-column-header" style="opacity: 1; transform: scale(1);">Open</div>
  			<div class="board-column-content muuri" th:each="task: ${taskOpen}">
    			<div class="board-item muuri-item muuri-item-shown openTaskCard">
    				<div id="remove" class="card-remove"><i>X</i></div>
    				<span class="taskItems taskID">ID: <span th:text= "${task.taskId}"></span></span>
    				<br>
    				<span class="taskItems">Priority: <span class="taskItems" th:text="${task.taskPriority}"></span></span>
    				<br>
    				<span class="taskItems">Assigned: <span class="taskItems" th:text="${task.taskAssignedTo}"></span></span>
    				<br>
    				<span class="taskItems">Description: </span>
    				<br/>
    				<span class="taskItems" th:text="${task.taskDescription}"></span>
    				<br/>
    			</div>
  			</div>
  			<button id="addBtn" class="addBtn openBtn" type=button>Add +</button>
  		</div>
  		<div class="board-column working muuri-item muuri-item-shown">
  			<div class="board-column-header" style="opacity: 1; transform: scale(1);">Working</div>
  			<div class="board-column-content muuri" th:each="task: ${taskWorking}">
    			<div class="board-item muuri-item muuri-item-shown workingTaskCard">
    				<div id="remove" class="card-remove"><i>X</i></div>
    				<span class="taskItems taskID">ID: <span th:text= "${task.taskId}"></span></span>
    				<br>
    				<span class="taskItems">Priority: <span th:text="${task.taskPriority}"></span></span>
			    	<br>
			    	<span class="taskItems">Assigned: <span th:text="${task.taskAssignedTo}"></span></span>
			    	<br>
			    	<span class="taskItems">Description: </span>    				
			    	<br/>
			    	<span class="taskItems" th:text="${task.taskDescription}"></span>
			    	<br/>
			    </div>
			  </div>
			  <button id="addBtn" class="addBtn workingBtn" type=button>Add +</button>
		</div>
		<div class="board-column done muuri-item muuri-item-shown">
			<div class="board-column-header" style="opacity: 1; transform: scale(1);">Finished</div>
			<div class="board-column-content muuri" th:each="task: ${taskDone}">
			    <div class="board-item muuri-item muuri-item-shown doneTaskCard">
			    	<div id="remove" class="card-remove"><i>X</i></div>
			    	<span class="taskItems taskID">ID: <span th:text= "${task.taskId}"></span></span>
			    	<br>
			    	<span class="taskItems">Priority: <span th:text="${task.taskPriority}"></span></span>
			    	<br>
			    	<span class="taskItems">Assigned: <span th:text="${task.taskAssignedTo}"></span></span>
			    	<br>
			    	<span class="taskItems">Description: </span>
			    	<br/>
			    	<span th:text="${task.taskDescription}"></span>
			    	<br/>
			    </div>
			  </div>
			  <button id="addBtn" class="addBtn doneBtn" type=button>Add +</button>
			  </div>
	</div>
	</section>
</div>
	<div id="addModal" class="modal">
  	<!-- Modal content -->
  	<div class="modal-content">
    	<span id="addClose" class="close">&times;</span>
		<form th:action="@{/addTask}" th:object="${newTask}" method="post">
			<div align="center">
				<h2>Add Task</h2>
				<label>TaskPriority</label>
				<br>
				<select id="taskPriority" th:field="*{taskPriority}" name="Priority">
					<option value="1">1</option>
  					<option value="2">2</option>
  					<option value="3">3</option>
  					<option value="4">4</option>
  					<option value="5">5</option>
				</select>
				<br>
				<br>
				<label>TaskDescription</label>
				<br>				
				<textarea id="taskDescription" rows = "5" cols = "30" th:field="*{taskDescription}" placeholder="Description"></textarea>
				<br>
				<br>
				<label>TaskAssignedTo</label>
				<br>
				<input type="text" id="taskAssignedTo" th:field="*{taskAssignedTo}" placeholder="Name"></input>
				<br/>
				<br>
				<input type="text" id="taskColor" th:field="*{taskColor}" placeholder="taskColor" hidden=true></input>
				<br/>
        		<br/>
				<input type="text" id="projectId" th:field="*{projectId}" placeholder="projectId" style="display: none;"></input>
				<br/>
        		<br/>
        		<input class="submitbutton" type="submit" value="Submit"/>
        		<br/>
			</div>
		</form>
  	</div>
  	</div>
  	<div id="editModal" class="modal">
  	<!-- Modal content -->
  	<div class="modal-content">
    	<span id="editClose" class="close">&times;</span>
		<form th:action="@{/editTask}" th:object="${editTask}" method="post">
			<div align="center">
				<h2>Edit Task</h2>
				<label>TaskPriority</label>
				<br>
				<select id="editTaskPriority" th:field="*{taskPriority}" name="Priority">
					<option value="1">1</option>
  					<option value="2">2</option>
  					<option value="3">3</option>
  					<option value="4">4</option>
  					<option value="5">5</option>
				</select>
				<br>
				<label>Task Description</label>
				<br>				
				<textarea id="editTaskDescription" rows = "5" cols = "30" th:field="*{taskDescription}" placeholder="Description"></textarea>
				<br>
				<label>Assigned To</label>
				<br>
				<input type="text" id="editTaskAssignedTo" th:field="*{taskAssignedTo}" placeholder="Name"></input>
				<br/>
				<br/>
				<input type="text" id="editTaskId" th:field="*{taskId}" placeholder="taskId" hidden=true></input>
				<br/>
        		<br/>
        		<input type="text" id="editProjectId" th:field="*{projectId}" placeholder="projectId" style="display: none;"></input>
        		<br/>
        		<br/>
        		<input class="submitbutton" type="submit" value="Submit"/>
        		<br/>
			</div>
		</form>
  	</div>
  	</div>
</body>

<script th:inline="javascript">
/*
	Script from Muuri with slight changes
*/
document.addEventListener('DOMContentLoaded', function () {
	  var docElem = document.documentElement;
	  var taskBoard = document.querySelector('.task-board');
	  var board = taskBoard.querySelector('.board');
	  var itemContainers = Array.prototype.slice.call(taskBoard.querySelectorAll('.board-column-content'));
	  var columnGrids = [];
	  var dragCounter = 0;
	  var boardGrid;

	  itemContainers.forEach(function (container) {

	    var muuri = new Muuri(container, {
	      items: '.board-item',
	      layoutDuration: 400,
	      layoutEasing: 'ease',
	      dragEnabled: true,
	      dragSort: function () {
	        return columnGrids;
	      },
	      dragSortHeuristics: {
	        sortInterval: 0,
	        minDragDistance: 0,
	        minBounceBackAngle: 0
	      },
	      dragContainer: document.body,
	      dragReleaseDuration: 400,
	      dragReleaseEasing: 'ease'
	    })
	    .on('dragStart', function (item) {
	      ++dragCounter;
	      docElem.classList.add('dragging');
	      item.getElement().style.width = item.getWidth() + 'px';
	      item.getElement().style.height = item.getHeight() + 'px';
	    })
	    .on('dragEnd', function (item) {
	      if (--dragCounter < 1) {
	        docElem.classList.remove('dragging');
	      }
	    })
	    .on('dragReleaseEnd', function (item) {
		  checkTask(item.getElement());
	      item.getElement().style.width = '';
	      item.getElement().style.height = '';
	      columnGrids.forEach(function (muuri) {
	        muuri.refreshItems();
	      });
	    })
	    .on('layoutStart', function () {
	      boardGrid.refreshItems().layout();
	    });

	    columnGrids.push(muuri);

	  });

	  boardGrid = new Muuri(board, {
	    layoutDuration: 400,
	    layoutEasing: 'ease',
	    dragEnabled: true,
	    dragSortHeuristics: {
	      sortInterval: 0,
	      minDragDistance: 0,
	      minBounceBackAngle: 0
	    },
	    dragStartPredicate: {
	      handle: '.board-column-header'
	    },
	    dragReleaseDuration: 400,
	    dragReleaseEasing: 'ease'
	  });
  	 	
  	 	checkForEmpty();
  	 	
  	 	var boardElement = document.getElementsByClassName('board-item');
  	 	for (var i = 0; i < boardElement.length; i++) {
  	  	 	boardElement[i].addEventListener('dblclick', function(e){
  	  	 		if(e.target.textContent == 'X'){
  	  	 			getTaskForDelete(e);
  	  	 			window.location.reload(true); 
  	  	 		}
  	  	 		else{
  	  				editModal.style.display = "block";
  	  				editTask(e.currentTarget.textContent);
  	  	 		}
  	  	 	});
  	 	};
	  	var addModal = document.getElementById("addModal");

  	 	// Get the <span> element that closes the modal
  	 	var addClose = document.getElementById("addClose");

  	 	// When the user clicks on <span> (x), close the modal
  	 	addClose.onclick = function() {
  	 		addModal.style.display = "none";
  	 	}
  	 	
	  	var editModal = document.getElementById("editModal");

  	 	// Get the <span> element that closes the modal
  	 	var editClose = document.getElementById("editClose");

  	 	// When the user clicks on <span> (x), close the modal
  	 	editClose.onclick = function() {
  	 		editModal.style.display = "none";
  	 	}

  	 	// When the user clicks anywhere outside of the modal, close it
  	 	window.onclick = function(event) {
  	   		if (event.target == addModal) {
  	   			addModal.style.display = "none";
  	   		}
  	   		if (event.target == editModal) {
  	   			editModal.style.display = "none";
  	   		}
  	 	}
  	 	addButtons = document.getElementsByClassName('addBtn');
  	 	for (var i = 0; i < addButtons.length; i++) {
  	 		addButtons[i].addEventListener('click', function(e){
  	 			var taskColor = document.getElementById('taskColor');
  	 			var element = e.currentTarget.classList;
  	 			for(i=0; element.length > i; i++){
  	 				if(element[i] == 'workingBtn'){
  	 					taskColor.value ='#f9944a'
  	 				}
  	 				if(element[i] == 'openBtn'){
  	 					taskColor.value = '#4A9FF9'
  	 				}
  	 				if(element[i] == 'doneBtn'){
  	 					taskColor.value = '#2ac06d'
  	 				}
  	 			}
  	  	 		addModal.style.display = "block";
  	 	    });
  	 	}
	});
	function checkTask(element){
	  var color = '';
	  var classes = element.classList;
	  var header = element.parentElement.parentElement.classList;
		  if(classes.contains("openTaskCard") && header.contains("working")){
			  element.classList.remove('openTaskCard');
			  element.classList.add('workingTaskCard');
			  color = '#f9944a';
			  updateTask(element, color);
	    	  return;
		  }
		  else if(classes.contains("openTaskCard") && header.contains("done")){
			  element.classList.remove('openTaskCard');
			  element.classList.add('doneTaskCard');
			  color = '#2ac06d';
			  updateTask(element, color);
	    	  return;
		  }
		  else if(classes.contains("workingTaskCard") && header.contains("todo")){
			  element.classList.remove('workingTaskCard');
			  element.classList.add('openTaskCard');
			  color = '#4A9FF9';
			  updateTask(element, color);
	    	  return;
		  }
		  else if(classes.contains("workingTaskCard") && header.contains("done")){
			  element.classList.remove('workingTaskCard');
			  element.classList.add('doneTaskCard');
			  color = '#2ac06d';
			  updateTask(element, color);
	    	  return;
		  }
		  else if(classes.contains("doneTaskCard") && header.contains("todo")){
			  element.classList.remove('doneTaskCard');
			  element.classList.add('openTaskCard');
			  color = '#4A9FF9';
			  updateTask(element, color);
	    	  return;
		  }
		  else if(classes.contains("doneTaskCard") && header.contains("working")){
			  element.classList.remove('doneTaskCard');
			  element.classList.add('workingTaskCard');
			  color = '#f9944a';
			  updateTask(element, color);
	    	  return;
		  }
	}
	function checkForEmpty(){
		var taskElement = document.getElementsByClassName("taskID");
		for(var i=0; taskElement.length > i; i++){
			if(taskElement[i].textContent == "ID: 0"){
				var task = taskElement[i].parentNode;
				task.style.visibility = "hidden";	
		}
		}
	}
	function updateTask(element, color){
		var task = element.textContent;
		var taskId = getTaskId(task)
		var tasks =/*[[${taskOpen}]]*/ 'defaultanyvalue';
		var length = tasks.length;
		for(i = 0; length > i; i++){
			if(tasks[i].taskId = taskId){
				task = JSON.stringify(updateTaskColor(tasks[i], color));
				taskUpdateColor(task);
				return task.taskId;
			}
		}
	}
	
	function getTaskForDelete(element){
		var task = element.currentTarget.textContent;
		var taskContent = getTaskContent(task)
		task = JSON.stringify(taskContent);
		deleteTask(task);
		return task.taskId;
	}
	
	function deleteTask(task){
		var xhr = new XMLHttpRequest();
		xhr.open("POST", 'http://localhost:8080/deleteTask', true);
		xhr.setRequestHeader('Content-Type', 'application/json');
		xhr.send(task);
	}
	
	function editTask(taskItem){
		var task = taskItem; 
		task = getTaskContent(task);
		document.getElementById('editTaskPriority').value = task.taskPriority;
		document.getElementById('editTaskDescription').value = task.taskDescription;
		document.getElementById('editTaskAssignedTo').value = task.taskAssignedTo;
		document.getElementById('editTaskId').value = task.taskId;
		return task;
	}
	
	function getTaskId(task){
		var task = task.split('\n');
		id = task[2].split(' ').pop().trim();
		return id;
	}
	
	function getTaskContent(task){
		var task = task.split('\n');
		task = {
			taskId: task[2].split(' ').pop().trim(),
			taskPriority: task[4].split(' ').pop().trim(),
			taskAssignedTo: task[6].split(' ').pop().trim(),
			taskDescription: task[10].trim(),
			projectId: /*[[${projectId}]]*/ 'defaultanyvalue'
		}
		return task;
	}
	
	function taskUpdateColor(task){
		var xhr = new XMLHttpRequest();
		xhr.open("POST", 'http://localhost:8080/updateTaskColor', true);
		xhr.setRequestHeader('Content-Type', 'application/json');
		xhr.send(task);
	}
	
	function getTaskList(color){
		//if(color = "")
	}
	function updateTaskColor(task, color){
		if(color != ''){
			task.taskColor = color;
		}
		return task; 
	}
</script>
</html>