<!DOCTYPE html>
<html xmlns:th="http://wwww.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link href="resources/nav.css" rel="stylesheet">
<link href="resources/task-board.css" rel="stylesheet">
<link href="resources/modal.css" rel="stylesheet">
<script src="https://unpkg.com/muuri@0.8.0/dist/muuri.min.js"></script>
<script src="https://unpkg.com/web-animations-js@2.3.2/web-animations.min.js"></script>
<script src="https://unpkg.com/muuri@0.8.0/dist/muuri.min.js"></script>
<title>TaskSpace.com</title>
<style>


</style>
</head>
<body>
	<div class="topnav">
		<a class= "header">TaskSpace</a>
		<div class="topnav-right">
  		<a class="navBtn" href="/">Home</a>
  		<a class="navBtn" href="/projects">Projects</a>
  		<a class="navBtn" href="/tasks">Tasks</a>
  		<a class="active navBtn" href="/grid">Grid</a>
  		</div>
  	</div>
	<br>
<div class="content-area">
	<p id="project-id" th:text="${projectId}" hidden=true></p>
	<section class="task-board">
	<div class="board muuri">
  		<div class="board-column todo muuri-item muuri-item-shown">
  			<div class="board-column-header" style="opacity: 1; transform: scale(1);">Open</div>
  			<div class="board-column-content muuri" th:each="task: ${taskOpen}">
    			<div class="board-item muuri-item muuri-item-shown openTaskCard">
    				<span class="taskItems taskID">ID: <span th:text= "${task.taskId}"></span></span>
    				<br>
    				<span class="taskItems">Priority: <span th:text="${task.taskPriority}"></span></span>
    				<br>
    				<span class="taskItems" th:text="${task.taskAssignedTo}"></span>
    				<br>
    				<span class="taskItems">Color: <span th:text="${task.taskColor}"></span></span>
    			</div>
  			</div>
  			<button id="myBtn"  class="addBtn" type=button>Add +</button>
  		</div>
  <div class="board-column working muuri-item muuri-item-shown">
  <div class="board-column-header" style="opacity: 1; transform: scale(1);">Working</div>
  <div class="board-column-content muuri" th:each="task: ${taskWorking}">
    <div class="board-item muuri-item muuri-item-shown workingTaskCard">
    	<span class="taskItems taskID">ID: <span th:text= "${task.taskId}"></span></span>
    	<br>
    	<span class="taskItems">Priority: <span th:text="${task.taskPriority}"></span></span>
    	<br>
    	<span class="taskItems" th:text="${task.taskAssignedTo}"></span>
    	<br>
    	<span class="taskItems">Color: <span th:text="${task.taskColor}"></span></span>
    </div>
  </div>
  <button id="myBtn" class="addBtn" type=button>Add +</button>
  </div>
  <div class="board-column done muuri-item muuri-item-shown">
  <div class="board-column-header" style="opacity: 1; transform: scale(1);">Finished</div>
  <div class="board-column-content muuri" th:each="task: ${taskWorking}">
    <div class="board-item muuri-item muuri-item-shown taskCard">
    	<span class="taskItems taskID">ID: <span th:text= "${task.taskId}"></span></span>
    	<br>
    	<span class="taskItems">Priority: <span th:text="${task.taskPriority}"></span></span>
    	<br>
    	<span class="taskItems" th:text="${task.taskAssignedTo}"></span>
    	<br>
    	<span class="taskItems">Color: <span th:text="${task.taskColor}"></span></span>
    </div>
  </div>
  <button id="myBtn" class="addBtn" type=button>Add +</button>
  </div>
</div>
</section>
</div>
	<div id="myModal" class="modal">
  	<!-- Modal content -->
  	<div class="modal-content">
    	<span class="close">&times;</span>
		<form th:action="@{/addTask}" th:object="${newTask}" method="post">
			<div align="center">
				<label>TaskPriority</label>
				<br>
				<select id="taskPriority" th:field="*{taskPriority}" name="Priority">
					<option value="1">1</option>
  					<option value="2">2</option>
  					<option value="3">3</option>
  					<option value="4">4</option>
  					<option value="5">5</option>
				</select>
				<br>
				<label>TaskDescription</label>
				<br>				
				<input type="text" id="taskDescription" th:field="*{taskDescription}" placeholder="Description"></input>
				<br>
				<label>TaskAssignedTo</label>
				<br>
				<input type="text" id="taskAssignedTo" th:field="*{taskAssignedTo}" placeholder="taskAssignedTo"></input>
				<br/>
				<input type="text" id="projectId" th:field="*{projectId}" placeholder="projectId" hidden=true></input>
				<br/>
        		<br/>
        		<input class="submitbutton" type="submit" value="Submit"/>
        		<br/>
			</div>
		</form>
  	</div>
  	</div>
</body>

<script>
/*
	Script from Muuri with slight changes
*/
document.addEventListener('DOMContentLoaded', function () {
	  var docElem = document.documentElement;
	  var taskBoard = document.querySelector('.task-board');
	  var board = taskBoard.querySelector('.board');
	  var itemContainers = Array.prototype.slice.call(taskBoard.querySelectorAll('.board-column-content'));
	  var columnGrids = [];
	  var dragCounter = 0;
	  var boardGrid;

	  itemContainers.forEach(function (container) {

	    var muuri = new Muuri(container, {
	      items: '.board-item',
	      layoutDuration: 400,
	      layoutEasing: 'ease',
	      dragEnabled: true,
	      dragSort: function () {
	        return columnGrids;
	      },
	      dragSortHeuristics: {
	        sortInterval: 0,
	        minDragDistance: 0,
	        minBounceBackAngle: 0
	      },
	      dragContainer: document.body,
	      dragReleaseDuration: 400,
	      dragReleaseEasing: 'ease'
	    })
	    .on('dragStart', function (item) {
	      ++dragCounter;
	      docElem.classList.add('dragging');
	      item.getElement().style.width = item.getWidth() + 'px';
	      item.getElement().style.height = item.getHeight() + 'px';
	    })
	    .on('dragEnd', function (item) {
	      if (--dragCounter < 1) {
	        docElem.classList.remove('dragging');
	      }
	    })
	    .on('dragReleaseEnd', function (item) {
		  checkTask(item.getElement());
	      item.getElement().style.width = '';
	      item.getElement().style.height = '';
	      columnGrids.forEach(function (muuri) {
	        muuri.refreshItems();
	      });
	    })
	    .on('layoutStart', function () {
	      boardGrid.refreshItems().layout();
	    });

	    columnGrids.push(muuri);

	  });

	  boardGrid = new Muuri(board, {
	    layoutDuration: 400,
	    layoutEasing: 'ease',
	    dragEnabled: true,
	    dragSortHeuristics: {
	      sortInterval: 0,
	      minDragDistance: 0,
	      minBounceBackAngle: 0
	    },
	    dragStartPredicate: {
	      handle: '.board-column-header'
	    },
	    dragReleaseDuration: 400,
	    dragReleaseEasing: 'ease'
	  });
	  
	  	var modal = document.getElementById("myModal");

  	 	// Get the button that opens the modal
  	 	var btn = document.getElementById("myBtn");

  	 	// Get the <span> element that closes the modal
  	 	var span = document.getElementsByClassName("close")[0];

  	 	// When the user clicks the button, open the modal 
  	 	btn.onclick = function() {
  	   		modal.style.display = "block";
  	 	}

  	 	// When the user clicks on <span> (x), close the modal
  	 	span.onclick = function() {
  	   		modal.style.display = "none";
  	 	}

  	 	// When the user clicks anywhere outside of the modal, close it
  	 	window.onclick = function(event) {
  	   		if (event.target == modal) {
  	     		modal.style.display = "none";
  	   		}
  	 	}
  	 	checkForEmpty();
	});
	function checkTask(element){
	  var classes = element.classList;
	  var header = element.parentElement.parentElement.classList;
		  if(classes.contains("openTaskCard") && header.contains("working")){
			  element.classList.remove('openTaskCard');
			  element.classList.add('workingTaskCard');
	    	  return;
		  }
		  else if(classes.contains("openTaskCard") && header.contains("done")){
			  element.classList.remove('openTaskCard');
			  element.classList.add('doneTaskCard');
	    	  return;
		  }
		  else if(classes.contains("workingTaskCard") && header.contains("todo")){
			  element.classList.remove('workingTaskCard');
			  element.classList.add('openTaskCard');
	    	  return;
		  }
		  else if(classes.contains("workingTaskCard") && header.contains("done")){
			  element.classList.remove('workingTaskCard');
			  element.classList.add('doneTaskCard');
	    	  return;
		  }
		  else if(classes.contains("doneTaskCard") && header.contains("todo")){
			  element.classList.remove('doneTaskCard');
			  element.classList.add('openTaskCard');
	    	  return;
		  }
		  else if(classes.contains("doneTaskCard") && header.contains("working")){
			  element.classList.remove('doneTaskCard');
			  element.classList.add('workingTaskCard');
	    	  return;
		  }
	}
	function checkForEmpty(){
		var taskElement = document.getElementsByClassName("taskID");
		for(var i=0; taskElement.length > i; i++){
			if(taskElement[i].innerText == "ID: 0"){
				var task = taskElement[i].parentNode;
				task.style.visibility = "hidden";	
		}
		}
	}
</script>
</html>