<!DOCTYPE html>
<html xmlns:th="http://wwww.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link href="resources/nav.css" rel="stylesheet">
<link href="resources/projects.css" rel="stylesheet">
<link href="resources/modal.css" rel="stylesheet">

<title>TaskSpace.com</title>
<style>
</style>
</head>
<body>
	<div class="topnav">
		<a class= "header">TaskSpace</a>
		<div class="topnav-right">
  		<a class="navBtn" href="/">Home</a>
  		<a class="active navBtn" href="/projects">Projects</a>
  		</div>
  	</div>
	<br>
	<div class="row">
		<form th:each="project: ${projectList}" class="box" th:onclick="'location.href=\'/taskBoard?&projectId=' + ${project.projectId} + '\''">
    		<div class="column">
	  			<div class="card">
    				<h4 class="label" th:text="${project.projectDesc}"><b></b></h4>
    				<p th:text="${project.projectMembers}"></p>
    			</div>
			</div>
    	</form>
    	<div class="column">
	  		<div id="myBtn" class="newCard">
    			<h4 class="label"><b>+</b></h4>
    		</div>
		</div>
	</div>
	<div id="myModal" class="modal">
  	<!-- Modal content -->
  	<div class="modal-content">
    	<span class="close">&times;</span>
		<form th:action="@{/addProject}" th:object="${newProject}" method="post">
			<div align="center">
				<h2>New Project</h2>
				<label>Project Name</label>
				<br>				
				<input type="text" id="projectName" th:field="*{projectName}" placeholder="Name"></input>
				<br>
				<label>Project Description</label>
				<br>
				<input type="text" id="projectDesc" th:field="*{projectDesc}" placeholder="Description"></input>
				<br/>
				<label>Project Members</label>
				<br>
				<input type="text" id="projectMembers" th:text="${projectMembers}" th:field="*{projectMembers}" placeholder="Members"></input>
				<br/>
        		<br/>
        		<input class="submitbutton" type="submit" value="Submit"/>
        		<br/>
			</div>
		</form>
  	</div>
  	</div>
	<!--  
	<div class="wrapper">
  		<form th:each="project: ${projectList}" class="box" th:onclick="'location.href=\'/taskBoard?&projectId=' + ${project.projectId} + '\''">
  			<a th:text="${project.projectDesc}"></a>
  			<a th:text="${project.projectMembers}"></a>
  			<a th:text="${project.projectId}"></a>
  		</form>
  	</div>
  	-->
  	  	<script>
  	  	var modal = document.getElementById("myModal");

  	 	// Get the button that opens the modal
  	 	var btn = document.getElementById("myBtn");

  	 	// Get the <span> element that closes the modal
  	 	var span = document.getElementsByClassName("close")[0];

  	 	// When the user clicks the button, open the modal 
  	 	btn.onclick = function() {
  	   		modal.style.display = "block";
  	 	}

  	 	// When the user clicks on <span> (x), close the modal
  	 	span.onclick = function() {
  	   		modal.style.display = "none";
  	 	}

  	 	// When the user clicks anywhere outside of the modal, close it
  	 	window.onclick = function(event) {
  	   		if (event.target == modal) {
  	     		modal.style.display = "none";
  	   		}
  	 	}
  	</script>
</body>
</html>