<!DOCTYPE html>
<html xmlns:th="http://wwww.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<!--Implements libraries from https://shopify.github.io/draggable-->
<!-- Draggable only -->
<script src="https://cdn.jsdelivr.net/npm/@shopify/draggable@1.0.0-beta.6/lib/draggable.js"></script>
<!-- Sortable only -->
<script src="https://cdn.jsdelivr.net/npm/@shopify/draggable@1.0.0-beta.6/lib/sortable.js"></script>
<!-- Droppable only -->
<script src="https://cdn.jsdelivr.net/npm/@shopify/draggable@1.0.0-beta.6/lib/droppable.js"></script>
<!-- Swappable only -->
<script src="https://cdn.jsdelivr.net/npm/@shopify/draggable@1.0.0-beta.6/lib/swappable.js"></script>
<title>TaskSpace.com</title>
<style>
table, td, th {
  border: 1px solid black;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th {
  height: 50px;
}
td {
  text-align: left;
  height: 25px;
}
</style>
</head>
<body>
	<h1>TaskSpace</h1>
    <nav>
		<button onclick= "location.href='/'">Home</button>
		<button onclick= "location.href='/tasks'">View Tasks</button>
	</nav> 
	<br>
	<table>
		<tr>
			<th>ProjectID</th>
			<th>Project Name</th>
		</tr>	
    	<tr>
        	<td th:text="${projectDTO.projectId}"></td>
        	<td th:text="${projectDTO.projectName}"></td>
    	</tr>
    </table>
    <br>
    <table>
		<tr>
			<th>ProjectID</th>
			<th>Project Name</th>
		</tr>	
    	<tr th:each="project: ${projectList}">
        	<td th:text="${project.projectId}"></td>
        	<td th:text="${project.projectName}"></td>
    	</tr>
    </table>
</body>
</html>